:root {
    --primary-color:#3d00b8;
    --primary-color-activated:#5a14e9;
    --secondary-color:#999999;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
}
h1 {
    font-size:40px;
}
h2 {
    font-size: 30px;
}
a {
    color:var(--primary-color);
}
a:hover {
    color:var(--primary-color-activated);
}
section {
    display: block;
    width: 900px;
    margin: 0 auto 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height:60vh;
}
section[data-visibility="hidden"] {
    display: none;
}
section div {
    align-items: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color:var(--primary-color);
    color: #ffffff;
    display:block;
    margin-bottom:10px;
}
button:hover {
    background-color: var(--primary-color-activated);
}

/* Header items */
header {
    height:10vh;
}
#view_highscores {
    float:left;
    margin:16px;
}
#timer {
    float:right;
    margin:16px;
}

/* Opening page/panel */
#opening {
    text-align: center;
}
#opening button {
    display:inline;
}

/* Question items */
.question button {
    width:240px;
    text-align:left;
}

/* Endgame page/panel */
#endgame button {
    display:inline;
}
#name {
    font-size: 16px;
    padding: 8px;
    width: 250px;
    border: solid 1px var(--secondary-color);
}

/* High Scores page/panel */
#highscores button {
    display:inline;
}
#highscores ol {
    text-align: left;
    width: 100%;
    margin-bottom:20px;
    background-color:#a598bb;
    padding: 0px 40px;
    box-sizing: border-box;
}
#highscores li {
    padding:10px;
}

/* Footer */
footer {
    border-top:solid 1px var(--secondary-color);
    height:10vh;
    width: 900px;
    margin: 0 auto;
}

/* If width of screen is less than 900px */
@media screen and (max-width: 900px) {
    section {
        width:90%;
    }
    footer {
        width:90%;
    }
}